<% content_for :title do %>
<% @function.Function_title %>
<% end %>

<%= make_header "Function" %>
<div class="entity_data">
<%= make_title @function.Function_title %>
<%= simple_field "Date range", @function.date_range %>
<%= rich_field "Descriptive note", @function.Descriptive_note %>
<% current_uri = request.env['PATH_INFO'] %>
</div>

<div class="entity_relations">

<% if @activities.first %>
<%= render :partial => 'relations/activities', :object => @activities, :locals => {:param_name => :activities_page ,:title => "Activities comprising this function", :browse_uri => "#{current_uri}/activities"} %>
<% end %>

<% if @agencies.first %>
<%= render :partial => 'relations/agencies', :object => @agencies, :locals => {:param_name => :agencies_page ,:title => "Agencies exercising this function", :browse_uri => "#{current_uri}/agencies"} %>
<% end %>

<% if @persons.first %>
<%= render :partial => 'relations/persons', :object => @persons, :locals => {:param_name => :persons_page ,:title => "Persons exercising this function", :browse_uri => "#{current_uri}/persons"} %>
<% end %>

<%= render :partial => 'relations/tags', :object => @function.tags, :locals => {:entitytype => Function.name, :title => @function.Function_title} %>

</div>

<%= render :partial => 'relations/comments', :object => @function.comments, :locals => {:show_comment => params[:comment], :title => @function.Function_title, :entitytype => Function.name} %>
