<%= make_header "Function" %>
<div class="entity_data">
<%= make_title @function.Function_title %>
<%= simple_field "Date range", @function.date_range %>
<%= rich_field "Descriptive note", @function.Descriptive_note %>
</div>

<div class="entity_relations">

<% if @activities.first %>
<%= render :partial => 'relations/activities', :object => @activities, :locals => {:title => "Activities comprising this function"} %>
<% end %>

<% if @agencies.first %>
<%= render :partial => 'relations/agencies', :object => @agencies, :locals => {:title => "Agencies exercising this function"} %>
<% end %>

<% if @persons.first %>
<%= render :partial => 'relations/persons', :object => @persons, :locals => {:title => "Persons exercising this function"} %>
<% end %>

</div>
