<%= make_header "Function" %>
<div class="entity_data">
<%= make_title @function.Function_title %>
<%= simple_field "Date range", @function.date_range %>
<%= rich_field "Descriptive note", @function.Descriptive_note %>
</div>

<% if @activities_page.first %>
<div class="entity_relations">
<%= content_tag :h4, "Activities comprising this function" %>
<% @activities_page.each do |activity| %>
<div class="collection_search_result">
<%= link_i activity.Activity_title, activity %>
</div>
<% end %>
<%= page_navigation(@page_details) %>
</div>
<% end %>

<% if @agencies_page.first %>
<div class="entity_relations">
<%= content_tag :h4, "Agencies exercising this function" %>
<% @agencies_page.each do |agency| %>
<div class="collection_search_result">
<%= link_i agency.Agency_title, agency %>
</div>
<% end %>
<%= page_navigation(@page_details) %>
</div>
<% end %>

<% if @persons_page.first %>
<div class="entity_relations">
<%= content_tag :h4, "Persons exercising this function" %>
<% @persons_page.each do |person| %>
<div class="collection_search_result">
<%= link_i person.name_long, person %>
</div>
<% end %>
<%= page_navigation(@page_details) %>
</div>
<% end %>