<% content_for :title do %>
<% "State Records NSW API" %>
<% end %>

<%= render 'search' %>

<br>
<%= content_tag :h4, "Archives2Share" %>
<% photos = flickr_all_photo %>
<%= "#{photos.count} images of State archives shared by our users" %>
<!-- thumbnail scroller markup begin -->
<div id="tS1" class="jThumbnailScroller" style="margin-top:20px;">
	<div class="jTscrollerContainer">
		<div class="jTscroller">
			<% photos.to_a.sample(10).each do |photo| %>
				<%= link_to image_tag(flickr_photos_thumbs photo), FlickRaw.url_photopage(photo) %>
			<% end %>
		</div>
	</div>
	<a href="#" class="jTscrollerPrevButton"></a>
	<a href="#" class="jTscrollerNextButton"></a>
</div>
<!-- thumbnail scroller markup end -->
<br>
<a href="http://www.flickr.com/groups/archives2share">Upload and share</a> your own images
<br>
<br>
<%= content_tag :h2, '' %>
<p>If you are a developer, see the <%= link_to "API Documentation", {:action=> "index", :controller => "usage"} %>.</p>
