
<div class="entity_data">
<% if show_comment %>
  <% if comments %> 
	  <% comments.each do |comment|%>
	    <div class="user_contents_item">
			<p>	      
	      <%= link_to "#{comment.user.name}", comment.user %>
	      <%= " commented at #{comment.created_at.to_formatted_s(:long_ordinal)}" %>
	      </p>
	      <%= comment.comments %>
	    </div>
	  <% end %>
  <% end %>

  <div class="user_contents_item">
	 <% if current_user.nil?%>    
      Please <%= render 'devise/menu/registration_items' %> or <%= render 'devise/menu/login_items' %> to comment 
    <% else %>      
      <%= form_tag do %>
        <p>Comment: <textarea name="comment"></textarea></p>
        <p><input type="submit" value="Submit" /></p>
      <% end %>
    <% end %>
  </div>
<% else %>
    <%= link_to "Show or add comments", "#{request.env['PATH_INFO']}?comment=true" %>
<% end %>
</div>