<%= make_header "Portfolio" %>
<div class="entity_data">
<%= make_title @portfolio.Portfolio_title %>
<%= simple_field "Date range", @portfolio.date_range %>
<%= rich_field "Descriptive note", @portfolio.Descriptive_note %>
</div>

<div class="entity_relations">

<% if @preceding.first %>
<%= render :partial => 'relations/portfolios', :object => @preceding, :locals => {:title => "Preceding portfolios"} %>
<% end %>

<% if @succeeding.first %>
<%= render :partial => 'relations/portfolios', :object => @succeeding, :locals => {:title => "Succeeding portfolios"} %>
<% end %>

<% if @ministries.first %>
<%= render :partial => 'relations/ministries', :object => @ministries, :locals => {:title => "Ministries containing this portfolio"} %>
<% end %>

<% if @persons.first %>
<%= render :partial => 'relations/persons', :object => @persons, :locals => {:title => "Ministers appointed to this portfolio"} %>
<% end %>

<% if @agencies.first %>
<%= render :partial => 'relations/agencies', :object => @agencies, :locals => {:title => "Agencies administered through this portfolio"} %>
<% end %>

</div>
