<% content_for :title do %>
<% @ministry.Ministry_title %>
<% end %>

<%= make_header "Ministry" %>
<div class="entity_data">
<%= make_title @ministry.Ministry_title %>
<%= simple_field "Date range", @ministry.date_range %>
<% current_uri = request.env['PATH_INFO'] %>
</div>

<div class="entity_relations">

<% if @portfolios.first %>
<%= render :partial => 'relations/portfolios', :object => @portfolios, :locals => {:param_name => :portfolios_page ,:title => "Portfolios in this ministry", :browse_uri => "#{current_uri}/portfolios"} %>
<% end %>

<%= render :partial => 'relations/tags', :object => @ministry.tags, :locals => {:entitytype => Ministry.name, :title => @ministry.Ministry_title} %>

</div>

<%= render :partial => 'relations/comments', :object => @ministry.comments, :locals => {:show_comment => params[:comment], :title => @ministry.Ministry_title, :entitytype => Ministry.name} %>
