<%= make_header "Person" %>
<div class="entity_data">
<%= make_title (@person.name_long) %>
<%= simple_field "Date range", @person.date_range %>
<%= simple_field "Alternative name", @person.Alternative_name %>
<%= simple_field "Offices held", @person.Offices_held %>
<%= rich_field "Biographical note", @person.Biographical_note %>
<%= bool_field "Minister", @person.Minister %>
</div>

<% if @ministries_page.first %>
<div class="entity_relations">
<%= content_tag :h4, "Ministries containing this person" %>
<% @ministries_page.each do |ministry| %>
<div class="collection_search_result">
<%= link_i ministry.Ministry_title, ministry %>
</div>
<% end %>
<% will_paginate @ministries_page, :param_name => 'ministries_page' %>
</div>
<% end %>

<% if @portfolios_page.first %>
<div class="entity_relations">
<%= content_tag :h4, "Portfolios this person held as minister" %>
<% @portfolios_page.each do |portfolio| %>
<div class="collection_search_result">
<%= link_i portfolio.Portfolio_title, portfolio %>
</div>
<% end %>
<% will_paginate @portfolios_page, :param_name => 'portfolios_page' %>
</div>
<% end %>

<% if @functions_page.first %>
<div class="entity_relations">
<%= content_tag :h4, "Functions exercised by this person" %>
<% @functions_page.each do |function| %>
<div class="collection_search_result">
<%= link_i function.Function_title, function %>
</div>
<% end %>
<% will_paginate @functions_page, :param_name => 'functions_page' %>
</div>
<% end %>


<% if @agencies_page.first %>
<div class="entity_relations">
<%= content_tag :h4, "Agencies related to this person" %>
<% @agencies_page.each do |agency| %>
<div class="collection_search_result">
<%= link_i agency.Agency_title, agency %>
</div>
<% end %>
<% will_paginate @agencies_page, :param_name => 'agencies_page' %>
</div>
<% end %>

