<%= make_header "Person" %>
<div class="entity_data">
<%= make_title (@person.name_long) %>
<%= simple_field "Date range", @person.date_range %>
<%= simple_field "Alternative name", @person.Alternative_name %>
<%= simple_field "Offices held", @person.Offices_held %>
<%= rich_field "Biographical note", @person.Biographical_note %>
<%= bool_field "Minister", @person.Minister %>
</div>

<div class="entity_relations">

<% if @agencies.first %>
<%= render :partial => 'relations/agencies', :object => @agencies, :locals => {:title => "Agencies related to this person"} %>
<% end %>

<% if @ministries.first %>
<%= render :partial => 'relations/ministries', :object => @ministries, :locals => {:title => "Ministries containing this person"} %>
<% end %>

<% if @portfolios.first %>
<%= render :partial => 'relations/portfolios', :object => @portfolios, :locals => {:title => "Portfolios this person held as minister"} %>
<% end %>

<% if @functions.first %>
<%= render :partial => 'relations/functions', :object => @functions, :locals => {:title => "Functions exercised by this person"} %>
<% end %>

<% if @series.first %>
<%= render :partial => 'relations/series', :object => @series, :locals => {:title => "Record series created by this person"} %>
<% end %>

</div>
