<%= make_header "Agency" %>
<div class="entity_data">
<%= make_title @agency.Agency_title %>
<%= simple_field "Date range", @agency.date_range %>
<%= simple_field "Category", @agency.Category %>
<%= simple_field "Creation", @agency.Creation %>
<%= simple_field "Abolition", @agency.Abolition %>
<%= rich_field "Administrative history note", @agency.Administrative_history_note %>
</div>

<div class="entity_relations">

<% if @preceding.first %>
<%= render :partial => 'relations/agencies', :object => @preceding, :locals => {:title => "Preceding agencies"} %>
<% end %>

<% if @succeeding.first %>
<%= render :partial => 'relations/agencies', :object => @succeeding, :locals => {:title => "Succeeding agencies"} %>
<% end %>

<% if @superiors.first %>
<%= render :partial => 'relations/agencies', :object => @superiors, :locals => {:title => "Superior agencies"} %>
<% end %>

<% if @subordinates.first %>
<%= render :partial => 'relations/agencies', :object => @subordinates, :locals => {:title => "Subordinate agencies"} %>
<% end %>

<% if @related.first %>
<%= render :partial => 'relations/agencies', :object => @related, :locals => {:title => "Related agencies"} %>
<% end %>

<% if @organisations.first %>
<%= render :partial => 'relations/organisations', :object => @organisations, :locals => {:title => "Organisations controlling this agency"} %>
<% end %>

<% if @persons.first %>
<%= render :partial => 'relations/persons', :object => @persons, :locals => {:title => "Persons related to this agency"} %>
<% end %>

<% if @functions.first %>
<%= render :partial => 'relations/functions', :object => @functions, :locals => {:title => "Functions exercised by this agency"} %>
<% end %>

<% if @series_created.first %>
<%= render :partial => 'relations/series', :object => @series_created, :locals => {:title => "Record series created by this agency"} %>
<% end %>

<% if @series_controlled.first %>
<%= render :partial => 'relations/series', :object => @series_controlled, :locals => {:title => "Record series controlled by this agency"} %>
<% end %>

</div>
