<titleInfo>
  <title><%= mods.Item_title %></title>
</titleInfo>
<typeOfResource manuscript="yes" collection="yes">mixed material</typeOfResource>
<genre authority="local">manuscript</genre>
<!--name type="personal">
  <namePart> </namePart>
  <role>
    <roleTerm type="code" authority="marcrelator">aut</roleTerm>
   </role>
</name-->
<originInfo>
  <dateCreated><%= mods.Start_date %></dateCreated>
</originInfo>
<location>
  <physicalLocation>State Records NSW</physicalLocation>
  <shelfLocator>NUA <%= mods.series.Series_number %><% if mods.Item_number_or_control_symbol %>, <%= mods.Item_number_or_control_symbol %><% end %></shelfLocator>
  <url><%= url_for :action => "show", :controller => "items", :id => mods, :only_path => false %></url>
</location>
