<% content_for :head do %><link rel="unapi-server" type="application/xml" title="unAPI"
    href="<%= url_for(:action => 'index', :controller=> 'unapi', :only_path => false)%>" />
<% end %>

<% content_for :title do %>
<% @item.Item_title %>
<% end %>

<abbr class="unapi-id" title="<%= url_for(:only_path => false) %>"></abbr>
<%= make_header "Item" %>
<div class="entity_data">
<%= make_title @item.Item_title %>
<%= simple_field "Item number", @item.Item_number_or_control_symbol || @item.id.to_s %>
<%= simple_field "Date range", @item.date_range %>
<%= rich_field "Descriptive note", @item.Descriptive_Note %>
<%= simple_field "Access Direction", @item.AccessDirectionNo %>
<%= numeric_field "Images", @item.ImagesCount %>
<%= simple_field "Availability", @item.Availability %>
<% if can_order_copy @item.series.Series_number %>
  <%= simple_field "Pre-order", link_ai_purchase("Pre-order item through Archives Investigator", @item.id) %>
<% end %>
<% if can_pre_order_copy @item.series.Series_number %>
  <%= simple_field "Purchase", link_ai_purchase("Purchase item through Archives Investigator", @item.id) %>
<% end %>
<%= simple_field "Location", @item.series.Repository %>
<% current_uri = request.env['PATH_INFO'] %>
</div>

<div class="entity_relations">

<div class="relations_item">
<%= content_tag :h4, "Series" %>
<div class="collection_search_result">
<%= link_i @item.series.Series_title, @item.series %>
</div>
</div>

<% if @creating_agencies.first %>
<%= render :partial => 'relations/agencies', :object => @creating_agencies, :locals => {:param_name => :creating_agencies_page ,:title => "Creating agency", :browse_uri => "#{current_uri}/agencies"} %>
<% end %>

<% if @persons.first %>
<%= render :partial => 'relations/persons', :object => @persons, :locals => {:param_name => :persons_page ,:title => "Creating person", :browse_uri => "#{current_uri}/persons"} %>
<% end %>

<%= render :partial => 'relations/tags', :object => @item.tags, :locals => {:entitytype => Item.name, :title => @item.Item_title} %>
</div>

<%= render :partial => 'relations/comments', :object => @item.comments, :locals => {:show_comment => params[:comment], :title => @item.Item_title, :entitytype => Item.name} %>
