<%= make_header "Activity" %>
<div class="entity_data">
<%= make_title @activity.Activity_title %>
<%= simple_field "Date range", @activity.date_range %>
<%= simple_field "Creation", @activity.Creation %>
<%= simple_field "Abolition", @activity.Abolition %>
<%= rich_field "Descriptive note", @activity.Descriptive_note %>
</div>

<% if @functions_page.first %>
<div class="entity_relations">
<%= content_tag :h4, "Functions containing this activity" %>
<% @functions_page.each do |function| %>
<div class="collection_search_result">
<%= link_i function.Function_title, function %>
</div>
<% end %>
<%= will_paginate @functions_page, :param_name => 'functions_page' %>
</div>
<% end %>

<% if @series_page.first %>
<div class="entity_relations">
<%= content_tag :h4, "Record series documenting this activity" %>
<% @series_page.each do |serie| %>
<div class="collection_search_result">
<%= link_i serie.Series_title, serie %>
</div>
<% end %>
<%= will_paginate @series_page, :param_name => 'series_page' %>
</div>
<% end %>
