<%= make_header "Activity" %>
<div class="entity_data">
<%= make_title @activity.Activity_title %>
<%= simple_field "Date range", @activity.date_range %>
<%= simple_field "Creation", @activity.Creation %>
<%= simple_field "Abolition", @activity.Abolition %>
<%= rich_field "Descriptive note", @activity.Descriptive_note %>
</div>

<% if @activity.functions.first %>
<div class="function_relations">
<%= content_tag :h4, "Functions containing this activity" %>
<% @activity.functions.each do |function| %>
<div class="collection_search_result">
<%= link_i function.Function_title, function %>
</div>
<% end %>
<%-#= page_navigation(@page_details) -%>
</div>
<% end %>

<% if @activity.series.first %>
<div class="serie_relations">
<%= content_tag :h4, "Record series documenting this activity" %>
<% @activity.series.each do |serie| %>
<div class="collection_search_result">
<%= link_i serie.Series_title, serie %>
</div>
<% end %>
<%-#= page_navigation(@page_details) -%>
</div>
<% end %>
