<titleInfo>
  <title><%= mods.Series_title %></title>
</titleInfo>
<typeOfResource manuscript="yes" collection="yes">mixed material</typeOfResource>
<genre authority="local">manuscript</genre>
<% mods.creating_agencies.each do |agency| %>
<name type="personal">
  <namePart><%= agency.Agency_title %></namePart>
  <role>
    <roleTerm type="code" authority="marcrelator">aut</roleTerm>
   </role>
</name>
<% end %>
<% mods.persons.each do |person| %>
<name type="personal">
  <namePart type="family"><%= person.Surname %></namePart>
  <namePart type="given"><%= person.Given_names %></namePart>
  <role>
    <roleTerm type="code" authority="marcrelator">aut</roleTerm>
   </role>
</name>
<% end %>
<originInfo>
  <dateCreated><%= date_simple(mods.Start_date) %></dateCreated>
</originInfo>
<location>
  <physicalLocation>State Records NSW</physicalLocation>
  <shelfLocator>NUA <%= mods.Series_number %></shelfLocator>
  <url><%= url_for :action => "show", :controller => "series", :id => mods, :only_path => false %></url>
</location>
