<% content_for :head do %><link rel="unapi-server" type="application/xml" title="unAPI"
    href="<%= url_for(:action => 'index', :controller=> 'unapi', :only_path => false)%>" />
<% end %>
<abbr class="unapi-id" title="<%= url_for(:only_path => false) %>"></abbr>
<%= make_header "Series" %>
<div class="entity_data">
<%= make_title @series.Series_title %>
<%= simple_field "Date range", @series.date_range %>
<%= simple_field "Contents date range", @series.contents_date_range %>
<%= rich_field "Descriptive note", @series.Descriptive_note %>
<%= simple_field "Format", @series.Format %>
<%= simple_field "Arrangement", @series.Arrangement %>
<%= simple_field "Copies", @series.Copies %>
<%= simple_field "Bridging aids", @series.Bridging_aids %>
<%= simple_field "Series control status", @series.Series_control_status %>
<%= simple_field "Location", @series.Repository %>
</div>

<div class="entity_relations">

<% if @creating_agencies.first %>
<%= render :partial => 'relations/agencies', :object => @creating_agencies, :locals => {:title => "Creating agency"} %>
<% end %>

<% if @persons.first %>
<%= render :partial => 'relations/persons', :object => @persons, :locals => {:title => "Persons creating this series"} %>
<% end %>

<% if @controlling_agencies.first %>
<%= render :partial => 'relations/agencies', :object => @controlling_agencies, :locals => {:title => "Current agency responsible"} %>
<% end %>

<% if @activities.first %>
<%= render :partial => 'relations/activities', :object => @activities, :locals => {:title => "Activities documented by this series"} %>
<% end %>

<% if @preceding_series.first %>
<%= render :partial => 'relations/series', :object => @preceding_series, :locals => {:title => "Preceding series"} %>
<% end %>

<% if @succeeding_series.first %>
<%= render :partial => 'relations/series', :object => @succeeding_series, :locals => {:title => "Succeeding series"} %>
<% end %>

<% if @related_series.first %>
<%= render :partial => 'relations/series', :object => @related_series, :locals => {:title => "Related series"} %>
<% end %>

<% if @items.first %>
<%= render :partial => 'relations/items', :object => @items, :locals => {:title => "Items in this series"} %>
<% end %>

</div>
